* {
  box-sizing: border-box;
}

.boardContainer {
<<<<<<< HEAD
	border: 1px solid black;
	width: 562px;
	height: 482px;
	margin: auto;
}
.boardSquare {
	border: 3px solid #E6E600;
	width: 80px;
	height: 80px;
	display: inline-block;
	background-color: #EEEE4D; 
}
.boardCircle {
	/*border: 3px solid white;*/
	background-color: white; 
	width: 65px;
	height: 65px;
	border-radius: 50%;
	margin: auto;
	margin-top: 3px;
/*	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;*/
/*	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%); */
=======

	border: 1px solid black;
	width: 562px;
	height: 480px;
}
.boardSquare {
	border: 1px solid black;
	width: 80px;
	height: 80px;
	display: inline-block;
}
#red {
	background-color: red;
>>>>>>> 0f4fe051cb5dd88b0995c0b598f9a1ffe7bee235
}