* {
  box-sizing: border-box;
}

.mainContainer{
	width:562px;
	height:482px;
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
}

.boardLegs {
	border: 2px solid black;
	width: 20px;
	height: 560px;
	background-color: blue;
	display: inline-block;
	margin-top: 45px
	
}

.boardContainer {
	border: 1px solid black;
	width: 562px;
	height: 482px;
	margin: auto;
}
.boardSquare {
	border: 3px solid #E6E600;
	width: 80px;
	height: 80px;
	display: inline-block;
	background-color: #EEEE4D; 
}
.boardCircle {
	/*border: 3px solid white;*/
	background-color: white; 
	width: 65px;
	height: 65px;
	border-radius: 50%;
	margin: auto;
	margin-top: 3px;
/*	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;*/
/*	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%); */

}